//Import of the breakpoints and colors variables
@import "styles/colors";
@import "styles/breakpoints";

//Main settings
.header {
  display: flex;
  background: $bg-header;
  backdrop-filter: blur(5px);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: -webkit-fill-available;
  border-bottom: 1px solid rgb(145, 145, 145);
  z-index: 10;

  &__logo {
    width: 80%;
    padding: .5em 3em;
  }
}

.menu {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 1.3em;

  &__list {
    align-items: center;
    display: flex;
  }

  &__link {
    list-style-type: none;
    padding: 0 1.8em;

    a {
      position: relative;
      display: inline-block;
      font-size: 1.5em;
      color: $black;
      cursor: pointer;
      font-weight: 600;
      text-decoration: none;
      transition: .3s ease;

      &:hover {
        &::before {
          scale: 1;
          transform-origin: left;
        }
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $black;
        border-radius: 4px;
        scale: 0 1;
        transform-origin: left;
        transition: scale 0.25s;
      }
    }
  }
}