@import 'styles/variaveis';
@import 'styles/breakpoints';

.form {
	display: grid;
	grid-template-columns: 50% 20% 30%;
	flex-direction: column;

	h3 {
		color: $darkest-grey;
		margin: 0;
	}

	.calendar__container {
		
	}

	&__container {
		margin-top: 50px;
	}

	.button {
		font-size: 1.5em;
		font-weight: 700;
		color: $grey;
		background-color: $dark-green;
		padding: 5px 20px;
		width: 100%;
		border: none;
		border-radius: 4px;
		margin-top: 50px;
		transition: 500ms;

		&:hover {
			cursor: pointer;
			background-color: $dark;
		}
	}

	textarea {
		border: none;
		border-radius: 4px;
		padding: .5em;
		width: 100%;
		height: 100px;
		font-weight: 700;
	}

	.not_display {
		display: none;
	}
}