//Import of the breakpoints and colors variables
@import 'styles/colors';

//Main settings
.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	object-fit: contain;
	margin-bottom: 20px;
}

.times {
	margin: 5px;
	font-weight: 700;

	button {
		width: 70px;
		padding: 5px;
		background-color: white;
		border: solid 1px $grey;
		border-radius: 4px;

		&:hover {
			cursor: pointer;
			background-color: #e6e6e6;
		}
	}
}

.infos {
	margin-top: 20px;
	font-size: 1.2em;
	font-weight: 700;
	color: $darkest-grey;
}