//Arquivo que contém vartiáveis do projeto que pode ser chamado a qualquer momento utilizando o import

$padding-horizontal-mobile: 70px;
$font-mobile: 14px;
$padding-horizontal-sm: 100px;
$font-sm:14px;
$padding-horizontal-md: 120px;
$font-md: 18px;
$padding-horizontal: 150px;
$dark: #1a1a41;
$darkest-grey: #70707b;
$dark-grey: #92929d;
$grey: #e4e4e4;
$black: #000000;
$light-grey: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;
$red-dark: #c62a2a;
$soft-green: #CFFDE1;
$soft-green-transparent: #cffde167;
$dark-green: #3D5656;
$dark-green-transparent: #243333b9;
$green: #6b9797a8;
