@import 'styles/variaveis';
@import 'styles/breakpoints';


.nossaCasa {
  margin-bottom: 100px;
  position: relative;
  width: 100%;

  &__container {
    width: auto;

    img {
      border-radius: 5px;
      width: 100%;
    }

    p {
      position: absolute;
      font-weight: 600;
      font-size: 1.05em;
      color: $soft-green;
      margin: 1em;
      padding: 1em;
      border-radius: 10px;
      top: 100px;
      right: 20px;
      width: 30%;
      background: $dark-green-transparent;

      @media (max-width: $desktop-md) {
        font-size: .85em;
      }

      @media (max-width: $desktop-small) {
        font-size: .75em;
      }

      @media (max-width: $tablet) {
        font-size: .65em;
      }
    }

    a {
      align-items: center;
      background-color: $dark-green;
      border-radius: 5px;
      bottom: -45px;
      color: $soft-green;
      display: flex;
      font-weight: bold;
      justify-content: center;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: fit-content;
      padding: 1em .5em;
      text-align: center;
    }
  }
}

.nossaCozinha {
  margin-bottom: 100px;

}

.recomendados {
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;

  &__btn {
    font-size: 1.5em;
    font-weight: 600;
    color: $dark-green;
    transition: .3s ease-in-out;

    &:hover {
      color: $soft-green;
    }
  }
}

.recomendado {
  &__imagem {
    width: 300px;
    margin-bottom: 10px;

    img {
      cursor: pointer;
      border-radius: 8px;
      width: 100%;
    }
  }
}

.sobreNos {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;

  img {
    width: 30%;
    height: 30%;
  }

  &__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    text-align: justify;
  }
}