@import "styles/variaveis";
@import "styles/breakpoints";

.header {
  display: flex;
  background: rgba(181, 162, 162, 0.397);
  backdrop-filter: blur(5px);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: -webkit-fill-available;
  border-bottom: 1px solid rgb(145, 145, 145);
  z-index: 1;

  &__logo {
    width: 80%;
    padding: .5em 3em;
  }
}

.menu {
  display: flex;
  align-items: center;
  font-size: $font-md;
  padding: 1.3em;

  @media (max-width: $tablet) {
    padding: 20px;
  }
  @media (min-width: $tablet) and (max-width: $desktop_small) {
    padding: 20px;
  }
  @media (min-width: $desktop_small) and (max-width: $desktop_md) {
    padding: 20px;
  }
  @media (max-width: $mobile) {
    position: fixed;
    padding: 1.3em;
    width: 100%;
  }

  &__list {
    align-items: center;
    display: flex;
  }

  &__link {
    list-style-type: none;
    padding: 0 1.8em;
    
    @media (max-width: $mobile) {
      padding: 0 1em;
    }

    a {
      font-size: 1.5em;
      color: $dark-green;
      cursor: pointer;
      font-weight: 600;
      text-decoration: none;
      transition: .3s ease;

      &:hover {
        color: $soft-green;
      }
    }
  }
}
