//Import of the breakpoints and colors variables
@import 'styles/colors';
@import 'styles/breakpoints';

//Main settings
.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 700px;

    >div {
        margin: 10px;
    }

    &__tipo {
        align-items: center;
        border-radius: 2px;
        display: flex;
        font-weight: bold;
        height: 40px;
        justify-content: center;
        padding: 10px 30px;

        &__entradas {
            background-color: $entradas;
            color: white;
        }

        &__saladas {
            background-color: $saladas;
        }

        &__risotto {
            background-color: $risotto;
            color: white;
        }

        &__pizzas {
            background-color: $pizzas;
            color: white;
        }

        &__massas {
            background-color: $massas;
        }

        &__carnes {
            background-color: $carnes;
        }

        &__sobremesas {
            background-color: $sobremesas;
            color: white;
        }
    }

    &__valor {
        align-items: center;
        display: flex;
        font-size: 1.25rem;
        font-weight: bold;
        justify-content: center;
        font-size: 1.7rem;
    }
}