//Main colors
$main-bg: #b5b5b5bf;
$bg-header: rgba(181, 162, 162, 0.397);
$dark: #1a1a41;
$darkest-grey: #70707b;
$dark-grey: #92929d;
$grey: #e4e4e4;
$light-grey: #f6f6f6;
$blue: #282b57;
$soft-blue: #4c4d5e;
$red: #d73b3b;
$red-dark: #c62a2a;
$soft-green: #CFFDE1;
$soft-green-transparent: #cffde167;
$dark-green: #3D5656;
$dark-green-transparent: #243333b9;
$green: #6b9797a8;
$black: #303030;

//Icons from footer
$ubereats :#06bb64;
$facebook :#4d5ea1;
$instagram :#bf0dc9;
$tripadvisor :#31d99c;
$tel :#016408;

//Food tags
$entradas: #3498DB;
$saladas: #80aa40;
$risotto: #F1C40F;
$pizzas: #d73b3b;
$massas: #e6c864;
$carnes: #CB4335;
$sobremesas: #702017;