@import "styles/variaveis";
@import "styles/breakpoints";

.footer {
  background-color: $green;
  
  &__top {
    display: grid;
    grid-template-columns: 1.2fr 1.5fr .5fr;

    a {
      display: flex;
      align-items: center;
      font-weight: 700;
      margin: 20px;
      color: $black;
      transition: 300ms;

      &:hover {
        color: $grey;

        .icon {
          transition: 300ms;

          &__ubereats {
            color: $ubereats;
          }

          &__mail {
            color: $red;
          }

          &__tel {
            color: $tel;
          }

          &__location {
            color: $red;
          }

          &__facebook {
            color: $facebook;
          }

          &__instagram {
            color: $instagram;
          }

          &__tripadvisor {
            color: $tripadvisor;
          }
        }
      }
    }

  }

  p {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin: 20px;
    color: $black;
  }

  h3 {
    font-size: 2em;
    margin-left: 20px;
  }


  svg {
    scale: 150%;
    color: $black;
    margin: 0 10px;
  }

  &__bottom {
    background-color: $dark-green;
    display: flex;
    justify-content: space-between;
    color: $soft-green;
    font-weight: 600;
    padding: 0 1em;
  }
}