@import "styles/variaveis";
@import "styles/breakpoints";

.footer {
  background-color: $green;
  
  h3 {
    margin-left: 10px;
  }

  p {
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
    color:$black;
  }

  svg {
    margin: 0 5px;
  }


  &__bottom {
    background-color: $dark-green;
    display: flex;
    justify-content: space-between;
    color: $soft-green;
    font-weight: 600;
    padding: 0 1em;
  }
}