//Import of the breakpoints and colors variables
@import 'styles/colors';
@import 'styles/breakpoints';

//Main settings
.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("/assets/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 20px 150px;
  box-shadow: inset 0px -50px 50px #c7c7c7;
  
  &__texto {
    background: $soft-green-transparent;
    padding: .2em .5em;
    text-align: center;
    top: 200px;
    position: absolute;
    color: $dark-green;
    font-size: 3em;
    font-weight: 700;
    border-radius: 5px;
  }

  &__btn {
    background: linear-gradient(to right, $dark-green, $green);
    padding: .5em 1em;
    border-radius: 15px;
    font-size: 2em;
    font-weight: 700;
    color: $soft-green;
    transition: .5s ease-in-out;

    &:hover {
      font-size: 2.1em;
    }
  }
}

//Mobile adjustmens
@media (max-width: $laptop) {
  .banner {
    padding: 0;
    height: 150vh;

    &__texto {
      font-size: 2em;
      top: 500px;
      width: 400px;
    }

    &__btn {
          font-size: 1.5em;
          position: absolute;
          top: 570px;
          width: 300px;
          text-align: center;
    }
  }  
}
