//Importação do arquivo de variáveis globais e de pontos de quebra
@import 'styles/variaveis.scss';
@import 'styles/breakpoints.scss';

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("/assets/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 20px $padding-horizontal;
  box-shadow: inset 0px -50px 50px #c7c7c7;
  
  &__texto {
    background: $soft-green-transparent;
    padding: .2em .5em;
    text-align: center;
    top: 200px;
    position: absolute;
    color: $dark-green;
    font-size: 3em;
    font-weight: 600;
  }

  &__btn {
    background: linear-gradient(to right, $dark-green, $green);
    padding: .5em 1em;
    border-radius: 15px;
    font-size: 2em;
    font-weight: 600;
    color: $soft-green;
    transition: .5s ease-in-out;

    &:hover {
      font-size: 2.1em;
    }
  }
}